*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #2CB3F3;
}
h1{
    font-size: 40px ;
}
p{
    font-size: 25px ;  
    margin-top: 1%;
}
.titulo{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 3%;
}
main{
    width: 100%;
    height: 70vh;
}
.cabeça{
    background: white;
    width: 570px;
    height: 410px;
    position: relative;
    left: 400px;
    top: 40px;
    border-radius: 60px 60px 0px 0px;
}
.face{
    background:#FFE1C9;
    width: 450px;
    height: 300px;
    position: relative;
    left: 57px;
    top: 60px;
    border-radius: 100%;
}
.olhod{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: relative;
    top: 60px;
    left: 300px;
}
.olhoe{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: relative;
    top: 25px;
    left: 100px;
}
form{
    position: relative;  
    top: 100px;
    left: 130px;
    display: flex;
    flex-direction: column;
    width: 200px;
}
input{
    height: 35px;
    border-radius:5px;
    
}

footer{
 
   text-align: center;
}
button{
   width: 150px ;
   height: 50px;
   background-color:#55A603;
   color: white;
   box-shadow:0px 2px 0px black;;

}
button:hover{
    cursor: pointer;
    font-weight: bolder;
}
@media (max-width:1200px) {
    .cabeça{
        position: relative;
        left: 300px;
        top: 30px;
    }
}
@media (max-width:1000px) {
    .cabeça{
        position: relative;
        left: 200px;
        top: 30px;
    }
}
@media (max-width:900px) {
    .cabeça{
        position: relative;
        left: 100px;
        top: 30px;
    }
}
@media (max-width:700px) {
    .cabeça{
        position: relative;
        left: 50px;
        top: 30px;
    }
}
@media (max-width:600px) {
    .cabeça{
        position: relative;
        left: 2%;
        top: 10%;
        width: 450px;
        height: 400px;
    }
    .face{
        width: 400px;
        height: 300px;
        position: relative;
        left: 20px;
        top: 60px;
    }
    form{
        position: relative;  
        top: 100px;
        left: 100px;
        display: flex;
        flex-direction: column;
    }
    .olhod{
        position: relative;
        top: 60px;
        left: 270px;
    }
   
}